trunk/Projet/EIP/EIP/Service References/ServiceEIP/ServiceEIP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pocket.serveftp.net/Dev/WCF/ServiceEIP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EIP" />
  <xs:import schemaLocation="http://pocket.serveftp.net/Dev/WCF/ServiceEIP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dimebrain.TweetSharp.Model" />
  <xs:element name="AuthorizeDesktop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consumerSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeDesktopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizeDesktopResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consumerSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EIP" minOccurs="0" name="GetAccessTokenResult" nillable="true" type="q1:AccountTwitter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwitterGetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consumerSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwitterGetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dimebrain.TweetSharp.Model" minOccurs="0" name="TwitterGetUserInfoResult" nillable="true" type="q2:TwitterUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwitterGetHomeStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consumerSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwitterGetHomeStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dimebrain.TweetSharp.Model" minOccurs="0" name="TwitterGetHomeStatusesResult" nillable="true" type="q3:ArrayOfTwitterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>