trunk/Projet/EIP/EIP/Service References/ServiceEIP/ServiceEIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEIP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6080/ServiceEIP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6080/ServiceEIP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6080/ServiceEIP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EIPLibrary" />
      <xsd:import schemaLocation="http://localhost:6080/ServiceEIP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TweetSharp.Twitter.Model" />
      <xsd:import schemaLocation="http://localhost:6080/ServiceEIP.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TweetSharp.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEIP_IsUp_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUp" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_IsUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUpResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetFBAppKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFBAppKey" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetFBAppKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFBAppKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByUserID" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountsByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByUserID" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountsByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountsByGroupID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByGroupID" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountsByGroupID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountsByTwitter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByTwitter" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccountsByTwitter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByTwitterResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_SaveAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_SaveAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetRequestToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestToken" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetRequestToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadHomeStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadHomeStatuses" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadHomeStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadHomeStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadUserStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadUserStatuses" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadUserStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadUserStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_SendTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTweet" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_SendTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTweetResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_SendTwitPic_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTwitPic" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_SendTwitPic_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTwitPicResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetUserInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfos" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetUserInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetFiends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiends" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetFiends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiendsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_UploadPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPhoto" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_UploadPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadDirectMessagesReceived_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDirectMessagesReceived" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadDirectMessagesReceived_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDirectMessagesReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadDirectMessagesSent_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDirectMessagesSent" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LoadDirectMessagesSent_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDirectMessagesSentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_testfb_InputMessage">
    <wsdl:part name="parameters" element="tns:testfb" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_testfb_OutputMessage">
    <wsdl:part name="parameters" element="tns:testfbResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_testT_InputMessage">
    <wsdl:part name="parameters" element="tns:testT" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_testT_OutputMessage">
    <wsdl:part name="parameters" element="tns:testTResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_testFl_InputMessage">
    <wsdl:part name="parameters" element="tns:testFl" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_testFl_OutputMessage">
    <wsdl:part name="parameters" element="tns:testFlResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_TestAddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:TestAddAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_TestAddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestAddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEIP">
    <wsdl:operation name="IsUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/IsUp" message="tns:IServiceEIP_IsUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/IsUpResponse" message="tns:IServiceEIP_IsUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFBAppKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetFBAppKey" message="tns:IServiceEIP_GetFBAppKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetFBAppKeyResponse" message="tns:IServiceEIP_GetFBAppKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountByUserID" message="tns:IServiceEIP_GetAccountByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountByUserIDResponse" message="tns:IServiceEIP_GetAccountByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountsByUserID" message="tns:IServiceEIP_GetAccountsByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountsByUserIDResponse" message="tns:IServiceEIP_GetAccountsByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByGroupID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountsByGroupID" message="tns:IServiceEIP_GetAccountsByGroupID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountsByGroupIDResponse" message="tns:IServiceEIP_GetAccountsByGroupID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByTwitter">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountsByTwitter" message="tns:IServiceEIP_GetAccountsByTwitter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetAccountsByTwitterResponse" message="tns:IServiceEIP_GetAccountsByTwitter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/AddAccount" message="tns:IServiceEIP_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/AddAccountResponse" message="tns:IServiceEIP_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/SaveAccount" message="tns:IServiceEIP_SaveAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/SaveAccountResponse" message="tns:IServiceEIP_SaveAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/DeleteAccount" message="tns:IServiceEIP_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/DeleteAccountResponse" message="tns:IServiceEIP_DeleteAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetRequestToken" message="tns:IServiceEIP_GetRequestToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetRequestTokenResponse" message="tns:IServiceEIP_GetRequestToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadHomeStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/LoadHomeStatuses" message="tns:IServiceEIP_LoadHomeStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/LoadHomeStatusesResponse" message="tns:IServiceEIP_LoadHomeStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadUserStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/LoadUserStatuses" message="tns:IServiceEIP_LoadUserStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/LoadUserStatusesResponse" message="tns:IServiceEIP_LoadUserStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/SendTweet" message="tns:IServiceEIP_SendTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/SendTweetResponse" message="tns:IServiceEIP_SendTweet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTwitPic">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/SendTwitPic" message="tns:IServiceEIP_SendTwitPic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/SendTwitPicResponse" message="tns:IServiceEIP_SendTwitPic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetUserInfos" message="tns:IServiceEIP_GetUserInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetUserInfosResponse" message="tns:IServiceEIP_GetUserInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiends">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetFiends" message="tns:IServiceEIP_GetFiends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetFiendsResponse" message="tns:IServiceEIP_GetFiends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/UploadPhoto" message="tns:IServiceEIP_UploadPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/UploadPhotoResponse" message="tns:IServiceEIP_UploadPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDirectMessagesReceived">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/LoadDirectMessagesReceived" message="tns:IServiceEIP_LoadDirectMessagesReceived_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/LoadDirectMessagesReceivedResponse" message="tns:IServiceEIP_LoadDirectMessagesReceived_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDirectMessagesSent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/LoadDirectMessagesSent" message="tns:IServiceEIP_LoadDirectMessagesSent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/LoadDirectMessagesSentResponse" message="tns:IServiceEIP_LoadDirectMessagesSent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testfb">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/testfb" message="tns:IServiceEIP_testfb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/testfbResponse" message="tns:IServiceEIP_testfb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/testT" message="tns:IServiceEIP_testT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/testTResponse" message="tns:IServiceEIP_testT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testFl">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/testFl" message="tns:IServiceEIP_testFl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/testFlResponse" message="tns:IServiceEIP_testFl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestAddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/TestAddAccount" message="tns:IServiceEIP_TestAddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/TestAddAccountResponse" message="tns:IServiceEIP_TestAddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/LogError" message="tns:IServiceEIP_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/LogErrorResponse" message="tns:IServiceEIP_LogError_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Service" type="tns:IServiceEIP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUp">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/IsUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFBAppKey">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetFBAppKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByUserID">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetAccountByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByUserID">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetAccountsByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByGroupID">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetAccountsByGroupID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByTwitter">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetAccountsByTwitter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/SaveAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestToken">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetRequestToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadHomeStatuses">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/LoadHomeStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadUserStatuses">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/LoadUserStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTweet">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/SendTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTwitPic">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/SendTwitPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfos">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetUserInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiends">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetFiends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/UploadPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDirectMessagesReceived">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/LoadDirectMessagesReceived" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDirectMessagesSent">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/LoadDirectMessagesSent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testfb">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/testfb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testT">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/testT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testFl">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/testFl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAddAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/TestAddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/LogError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEIP">
    <wsdl:port name="BasicHttpBinding_Service" binding="tns:BasicHttpBinding_Service">
      <soap:address location="http://localhost:6080/ServiceEIP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>