Tests APIs/Facebook/ProtoFB/ProtoFB/Service References/toto/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:2000/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:2000/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2000/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProtoWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AuthorizeDesktop_InputMessage">
    <wsdl:part name="parameters" element="AuthorizeDesktop" />
  </wsdl:message>
  <wsdl:message name="IService1_AuthorizeDesktop_OutputMessage">
    <wsdl:part name="parameters" element="AuthorizeDesktopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginTwitter_InputMessage">
    <wsdl:part name="parameters" element="LoginTwitter" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginTwitter_OutputMessage">
    <wsdl:part name="parameters" element="LoginTwitterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="urn:IService1/GetData" message="IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetDataResponse" message="IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeDesktop">
      <wsdl:input wsaw:Action="urn:IService1/AuthorizeDesktop" message="IService1_AuthorizeDesktop_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/AuthorizeDesktopResponse" message="IService1_AuthorizeDesktop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginTwitter">
      <wsdl:input wsaw:Action="urn:IService1/LoginTwitter" message="IService1_LoginTwitter_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/LoginTwitterResponse" message="IService1_LoginTwitter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="urn:IService1/GetDataUsingDataContract" message="IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetDataUsingDataContractResponse" message="IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>