Projet/EIP/EIP/Service References/ServiceEIP/ServiceEIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEIP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pocket.serveftp.net/Dev/WCF/ServiceEIP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pocket.serveftp.net/Dev/WCF/ServiceEIP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pocket.serveftp.net/Dev/WCF/ServiceEIP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EIP" />
      <xsd:import schemaLocation="http://pocket.serveftp.net/Dev/WCF/ServiceEIP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dimebrain.TweetSharp.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEIP_AuthorizeDesktop_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeDesktop" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_AuthorizeDesktop_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeDesktopResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccessToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessToken" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_GetAccessToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_TwitterGetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:TwitterGetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_TwitterGetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TwitterGetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_TwitterGetHomeStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:TwitterGetHomeStatuses" />
  </wsdl:message>
  <wsdl:message name="IServiceEIP_TwitterGetHomeStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:TwitterGetHomeStatusesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEIP">
    <wsdl:operation name="AuthorizeDesktop">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/AuthorizeDesktop" message="tns:IServiceEIP_AuthorizeDesktop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/AuthorizeDesktopResponse" message="tns:IServiceEIP_AuthorizeDesktop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/GetAccessToken" message="tns:IServiceEIP_GetAccessToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/GetAccessTokenResponse" message="tns:IServiceEIP_GetAccessToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TwitterGetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/TwitterGetUserInfo" message="tns:IServiceEIP_TwitterGetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/TwitterGetUserInfoResponse" message="tns:IServiceEIP_TwitterGetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TwitterGetHomeStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEIP/TwitterGetHomeStatuses" message="tns:IServiceEIP_TwitterGetHomeStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEIP/TwitterGetHomeStatusesResponse" message="tns:IServiceEIP_TwitterGetHomeStatuses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceEIP" type="tns:IServiceEIP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthorizeDesktop">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/AuthorizeDesktop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessToken">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/GetAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwitterGetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/TwitterGetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwitterGetHomeStatuses">
      <soap:operation soapAction="http://tempuri.org/IServiceEIP/TwitterGetHomeStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEIP">
    <wsdl:port name="BasicHttpBinding_IServiceEIP" binding="tns:BasicHttpBinding_IServiceEIP">
      <soap:address location="http://pocket.serveftp.net/Dev/WCF/ServiceEIP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>