Projet/EIP/EIP/Service References/ServiceEIP/ServiceEIP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EIPLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EIPLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountID" type="xs:long" />
      <xs:element minOccurs="0" name="groupID" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="typeAccount" type="tns:Account.TypeAccount" />
      <xs:element minOccurs="0" name="userID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:simpleType name="Account.TypeAccount">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Facebook" />
      <xs:enumeration value="Twitter" />
      <xs:enumeration value="Flickr" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Account.TypeAccount" nillable="true" type="tns:Account.TypeAccount" />
  <xs:complexType name="AccountTwitter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Account">
        <xs:sequence>
          <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tokenSecret" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountTwitter" nillable="true" type="tns:AccountTwitter" />
  <xs:complexType name="AccountFlickr">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Account">
        <xs:sequence>
          <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userIDstr" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountFlickr" nillable="true" type="tns:AccountFlickr" />
  <xs:complexType name="AccountFacebook">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Account">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionExpires" type="xs:boolean" />
          <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sessionSecret" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountFacebook" nillable="true" type="tns:AccountFacebook" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
</xs:schema>